.beers-bg {
    position: relative;
    background-color: #E1C699;
    color: black;
    margin-top: -3px;
    height: 400px;
    border: 3px solid black;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.beer-txt {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}

.inner-beer{
    position: absolute;
    width: 95%;
    height: 175px;
    background: #000000;
    border: 2px solid #FFFFFF;
    margin-top: 10px;
    margin-left: 2.5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner-beer p {
    font-size: 30px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

}

#menu-outer {
	height: 84px;
    margin-top: 215px;
	background: white;
    width: 95%;
    margin-left: 2.5%;
    border: 2px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
    color: white;
}

ul#horizontal-list {
	min-width: 800px;
	list-style: none;
	padding-top: 15px;
    margin-left: -40px;
}
	
ul#horizontal-list li {
	display: inline;
    padding: 30px;
    font-size: 20px;
}

.beer-type-bg {
    position: relative;
    background-color: #E1C699;
    color: black;
    margin-top: -3px;
    height: 600px;
    border: 3px solid black;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.beer-type-txt {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}

.inner-beer-type {
    position: absolute;
    width: 70%;
    height: 500px;
    background: #000000;
    border: 2px solid #FFFFFF;
    margin-top: 10px;
    margin-left: 2.5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner-beer-type p {
    font-size: 30px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

