.background-bg {
    position: relative;
    background-color: #E1C699;
    color: black;
    margin-top: -3px;
    height: 600px;
    border: 3px solid black;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.background {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}

.inner-background {
    position: absolute;
    width: 70%;
    height: 500px;
    background: #000000;
    border: 2px solid #FFFFFF;
    margin-top: 10px;
    margin-left: 2.5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner-background p {
    font-size: 30px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.what-you-need-bg {
    position: relative;
    background-color: #E1C699;
    color: black;
    margin-top: -3px;
    height: 600px;
    border: 3px solid black;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner-what-you-need {
    position: absolute;
    width: 70%;
    height: 500px;
    background: #000000;
    border: 2px solid #FFFFFF;
    margin-top: 10px;
    margin-left: 2.5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inner-what-you-need p {
    font-size: 30px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

#menu-outer-learn {
	height: 500px;
    margin-top: 10px;
	background: white;
    width: 22.5%;
    margin-left: 75%;
    border: 2px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-learn {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
    color: white;
}

ul#horizontal-list-learn {
	min-width: 800px;
	list-style: none;
	padding-top: 5px;
    margin-left: -40px;
}
	
ul#horizontal-list-learn li {
    padding: 10px;
    font-size: 20px;
    color: black;
}

ul#horizontal-list-learn li0 {
    padding: 10px;
    font-size: 25px;
    color: black;
    text-decoration: underline;
    padding-left: 125px;
}